/* Estilos para el contenedor de la tarjeta de crédito */
.tarjetaCredito {
    max-width: 600px;
    margin: 4%;
    padding: 20px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Estilos para los grupos de campos */
.datosTarjeta .grupo {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre grupos */
}

    /* Estilos para los span (etiquetas) dentro de los grupos */
    .datosTarjeta .grupo span {
        flex: 1;
    }

    /* Estilos para los textbox dentro de los grupos */
    .datosTarjeta .grupo input[type="text"],
    .datosTarjeta .grupo select {
        flex: 3;
        margin-right: 10px;
        padding: 10px; /* Espacio interno */
        width: 100%;
        border: 1px solid #ccc; /* Borde */
        border-radius: 5px; /* Bordes redondeados */
        color: #4d4d4d;
        background-color: rgba(0, 0, 0, 0.2);
        font-family: Arial, Helvetica, sans-serif;
    }



        /* Estilos cuando un textbox está enfocado */
        .datosTarjeta .grupo input[type="text"]:focus,
        .datosTarjeta .grupo select:focus {
            color: black; /* Color del texto cuando está enfocado */
            background-color: white; /* Color de fondo cuando está enfocado */
            border-color: #4d4d4d; /* Color del borde cuando está enfocado */
            outline: none; /* Quita el contorno predeterminado */
        }

/* Estilos para el botón */
.datosTarjeta .btnGuardar {
    padding: 10px 20px;
    background-color: #94604f;
    color: white;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
}

    /* Estilos para el botón al pasar el ratón por encima */
    .datosTarjeta .btnGuardar:hover {
        background-color: #55281b;
    }

#mesExpiracion {
    margin-left: 11%;
}

@media screen and (orientation: portrait) {
    .tarjetaCredito {
        max-width: 100%;
    }

    .datosTarjeta .grupo {
        align-items: stretch; /* Ajustamos el ancho de los elementos al máximo */
    }

        .datosTarjeta .grupo span {
            margin-bottom: 10px; /* Aumentamos el espacio entre la etiqueta y el campo de entrada */
            font-size: 30px;
        }

        .datosTarjeta .grupo input[type="text"],
        .datosTarjeta .grupo select {
            width: calc(100% - 20px); /* Restamos el espacio del margen derecho */
            font-size: 30px;
        }

    #mesExpiracion {
        margin-left: 5.5%;
    }

    .datosTarjeta .btnGuardar {
        font-size: 30px;
    }
}

.pedidos-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pedido {
    border: 1px solid #ccc;
    width: 90%;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
    margin: 20px auto;
}

    .pedido:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

.detalles-pedido {
    margin-top: 10px;
    padding-left: 20px;
}

.detalle-pedido {
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 10px;
}

    .detalle-pedido:first-child {
        border-top: none;
        padding-top: 0;
        margin-top: 0;
    }

.precio-total-pedido {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;

}

table {
    width: 100%;
}
td {
    width: 50%;
    
    align-items: center;
    justify-content: center;
}
/* Estilos para la tabla en modo portrait */
@media screen and (orientation: portrait) {
    table {
        display: block;
        width: 100%;
    }
    
    tbody,
    tr,
    td {
        display: block;
        width: 100%;
    }
    
    td {
        margin-bottom: 20px; /* Espacio entre las celdas */
    }
    .btnGuardar{
        font-size: 30px !important;
    }
    .btnPagar{
        font-size: 30px !important;
    }
}

.btnGuardar {

    padding: 10px 20px;
    background-color: #94604f;
    color: white;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
}

/* Estilos para el botón al pasar el ratón por encima */
.btnGuardar:hover {
    background-color: #55281b;
}

.btnPagar {
    width: 90%;
    padding: 10px 20px;
    background-color: #94604f;
    color: white;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    margin: auto 5%;
}

/* Estilos para el botón al pasar el ratón por encima */
    .btnPagar:hover {
        background-color: #55281b;
    }